@model eShopSolution.ViewModels.System.Users.RegisterRequest
@{
    ViewData["Title"] = "Register";
}


<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li class="active"><localize>Registration</localize></li>
</ul>
<h3> Registration</h3>
<div class="well">
    <!--
    <div class="alert alert-info fade in">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Lorem Ipsum is simply dummy</strong> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
     </div>
    <div class="alert fade in">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Lorem Ipsum is simply dummy</strong> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
     </div>
     <div class="alert alert-block alert-error fade in">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Lorem Ipsum is simply</strong> dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
     </div> -->
    <form class="form-horizontal" asp-action="Register" asp-controller="Account" method="post">
        <h4><localize>Your personal information</localize></h4>
        <div asp-validation-summary="All" class="text-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
        </div>
        <div class="control-group">
            <label class="control-label"><localize>First name</localize> <sup>*</sup></label>
            <div class="controls">
                <input type="text" asp-for="FirstName" placeholder="First Name">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Last name <sup>*</sup></label>
            <div class="controls">
                <input type="text" asp-for="LastName" placeholder="Last Name">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Birthday <sup>*</sup></label>
            <div class="controls">
                <input type="date" asp-for="DOB" placeholder="Birthday">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Email <sup>*</sup></label>
            <div class="controls">
                <input type="email" asp-for="Email" placeholder="Email">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Phone number <sup>*</sup></label>
            <div class="controls">
                <input type="tel" asp-for="PhoneNumber" placeholder="Phone number">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">User name <sup>*</sup></label>
            <div class="controls">
                <input type="text" asp-for="UserName" placeholder="User name">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Password <sup>*</sup></label>
            <div class="controls">
                <input type="password" asp-for="Password" placeholder="Password">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Confirm password <sup>*</sup></label>
            <div class="controls">
                <input type="password" asp-for="ConfirmPassword" placeholder="Confirm Password">
            </div>
        </div>

        <p><sup>*</sup>Required field	</p>

        <div class="control-group">
            <div class="controls">
                <input type="hidden" name="email_create" value="1">
                <input type="hidden" name="is_new_customer" value="1">
                <input class="btn btn-large btn-success" type="submit" value="Register" />
            </div>
        </div>
    </form>
</div>

